/* Selecting all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body selector */
body {
    background-color: #d9dcd6;
}

/* Using <header> element instead of class="header" (.header selector --> header) */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Selecting <h1> element that is inside the <header> */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Selecting class="seo" that is inside <h1> --> <header> */
header h1 .seo {
    color: #d9dcd6;
}

/* Selecting <nav> element that is inside the <header> */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Selecting <ul> element that is inside <nav> --> <header> */
header nav ul {
    list-style-type: none;
}

/* Selecting <li> element that is inside <ul> --> <nav> --> <header> */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Link selector */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Renamed class="hero" --> class="hero-image", serves the purpose of a background image for the div element */
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Applies to all elements inside the class="content" */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Consolidated by using class="content-section" for the <section> with class="content" */
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated the use of img selector */
.content-section img {
    max-height: 200px;
}

/* Renamed float-left --> image-float-left */
.image-float-left {
    float: left;
    margin-right: 25px;
}

/* Renamed float-right --> image-float-right */
.image-float-right {
    float: right;
    margin-left: 25px;
}

/* Consolidated the use of h2 selector */
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Paragraph selector */
p {
    font-size: 16px;
}

/* Applies to all elements inside the class="benefits" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated by using class="benefit-category" for the <section> with class="benefits" */
.benefit-category {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated the use of h3 selector */
.benefit-category h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated the use of img selector */
.benefit-category img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Using <footer> element instead of class="footer" (.footer selector --> footer) */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Selecting <h2> element that is inside the <footer> */
footer h2 {
    font-size: 20px;
}
